@using SimplePhotinoApp.Models

<div class="card bg-neutral text-neutral-content w-96">
    <div class="card-body items-center text-center">
        <h2 class="card-title">@Model.Summary</h2>
        <p>@Model.Date.ToLongDateString() -  @Model.TemperatureF degrees F</p>
    </div>
</div>

@code
{
    [Parameter] public WeatherForecast Model { get; set; } = new();
}